.sekil1{
    height: 300px;
    background: url(mama.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.sekil2{
    height: 400px;
    background: url(mama.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.sekil3{
    height: 600px;
    background: url(mama.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.sekil4{
    height: 500px;
    background: url(mama.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.sekil5{
    height: 300px;
    background: url(mama.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.sekil6{
    height: 500px;
    background:url(mama.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h2{
    background-color: brown;
}
h1{
    background-color: aqua;
    color: blueviolet;
    text-align: center;
    font-size: 40px;
}


    
    
    